{# src/Base/cgv.html.twig #}

{% set navnotabsolute = "true" %}

{% extends "base.html.twig" %}

{% block body %}

    <section class="height-40">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Conditions générales de vente</h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <p>Les présentes conditions générales de vente (“CGV”) avec les conditions particulières visées en article 2, régissent l'ensemble de la relation entre la société CROQUI (ci-après dénommée "CROQUI") et le Client (ci-après dénommé le "Client") qui les accepte sans réserve. Ces CGV prévaudront sur toutes autres conditions figurant dans tout autre document, sauf dérogation préalable, expresse et écrite de CROQUI.</p>

                    <h5>Article 1 - ACCEPTATION DES CONDITIONS GÉNÉRALES DE VENTE</h5>

                    <p>Le Client déclare avoir pris connaissance et accepté les présentes CGV avant la passation de toute commande. Toute commande d’un plat sur le site Internet de CROQUI « www.croqui.fr » (ci-après le « Site ») matérialise donc l’acceptation expresse des présentes CGV par le Client.

                    </p><p>CROQUI se réserve le droit d'adapter ou de modifier à tout moment les présentes CGV. Les nouvelles CGV seront portées à la connaissance du Client par leur mise en ligne et seront applicables aux seules ventes réalisées postérieurement à cette mise en ligne.</p>

                    <h5>Article 2 – PRODUITS</h5>

                    <p>CROQUI prépare, commercialise en ligne et livre des plats au bénéfice de particuliers et d’entreprises. La commercialisation de l’offre de CROQUI se fait par internet. Les présentes CGV s'appliquent à l’ensemble des produits.

                    </p><p>L'offre de CROQUI est réservée au Client pour sa propre consommation, la revente des produits commercialisés par CROQUI étant formellement interdite.

                    </p><p>Les produits proposés sont ceux qui figurent dans le catalogue publié sur le Site le jour de la Commande, dans la limite des stocks disponibles.

                    </p><p>La composition des Plats est indiquée sur le site. CROQUI se réserve le droit de modifier la composition d’un Plat en fonction notamment de la disponibilité des ingrédients.

                    </p><p>Les Plats présentés à la vente sont susceptibles d’être modifiés ou supprimés par CROQUI sans aucun préavis. Les photographies et illustrations présentées en ligne ne sont pas contractuelles.

                    </p><p>Les produits sont livrés chauds ou froids selon les modalités définis en Article 7 des présentes. Leur consommation peut être différée sous réserve du respect de la Date Limite de Consommation (“DLC”) indiquée sur l’emballage et d’une conservation au réfrigérateur entre 0° et 3°. Il revient au Client de réchauffer les Plats froids livrés par CROQUI selon les instructions et recommandations figurant sur leur emballage.

                    </p><p>CROQUI ne saurait être tenu pour responsable en cas de mauvaise condition de conservation des produits après livraison, en cas de consommation après la DLC ou dans tout autre cas où le Client n’aurait pas respecté les règles d’hygiène portées à sa connaissance par CROQUI ou par les autorités sanitaires.

                    </p><p>Il appartient au Client de se renseigner en amont de toute commande notamment en cas d’intolérance ou d’allergies alimentaires.

                    </p><p>Même si CROQUI apporte tout le soin nécessaire à la sélection de ses fournisseurs, elle n'est en aucun cas responsable de données erronées éventuellement transmises par ses propres fournisseurs.</p>

                    <h5>Article 3 – CONDITIONS PARTICULIÈRES DE VENTE</h5>

                    <p>Le Client reconnaît avoir pris connaissance, au moment de la passation de sa commande, des conditions générales de vente telles qu’affichées sur le Site à savoir le prix et la description des produits (sans que cela ne soit exhaustif), et déclare expressément les accepter sans réserve. La passation de la commande et sa confirmation par le Client matérialisent son acceptation pleine et entière des conditions générales de vente. Le Client s’oblige à un usage raisonnable du service. Dans le cas contraire, CROQUI peut, sans que le Client ne puisse exiger quelque indemnité ou remboursement que ce soit, clore définitivement le compte du Client.</p>

                    <h5>Article 4 - TARIFS</h5>

                    <p>L’offre de CROQUI est exprimée en euros toutes taxes comprises (€TTC) en tenant compte du taux de TVA applicable au jour de la commande. CROQUI se réserve le droit de modifier ses tarifs à tout moment et sans préavis, notamment en cas de changement du taux de TVA applicable. Les produits sont facturés sur la base des tarifs en vigueur au jour de la commande.

                    </p><p>Les frais de livraison sont indiqués dans le récapitulatif de commande sous le libellé « Livraison».

                    </p><p>Les prix sont définis selon un système de « formules », correspondant à un prix fixe permettant au Client d’inclure un nombre défini de produits dans sa commande, ainsi qu’un prix additionnel qui s’ajoute au prix fixe en fonction de la quantité de produits choisis au-delà du nombre déterminé dans ladite formule. Ce nombre de produits par formule ne constitue ni un minimum ni un maximum obligatoire d’achat. Il permet le calcul du prix final. Le Client n’est pas contraint d’acheter une quantité minimale de produits, notamment celle déterminée dans le cadre des formules.</p>

                    <h5>Article 5 – COMMANDE ET PAIEMENT</h5>

                    <p>Le Client peut commander sur le Site. Le Client doit sélectionner un ou plusieurs produits proposés, valider la commande, et payer celle-ci en ligne selon les moyens de paiement proposés par CROQUI. Le paiement par carte bancaire sera réalisé par le biais d’un système fiable et sécurisé. Le montant soumis au paiement est égal à celui de la commande.

                    </p><p>A cette fin, le Client s’engage à fournir des informations sincères, véritables et à jour au moment de la prise de commande. CROQUI ne saurait être tenu pour responsable des conséquences résultant de données erronées ou incomplètes, notamment dans les coordonnées du destinataire, les quantités et type de produits commandés, ou le compte à débiter.

                    </p><p>CROQUI confirme la prise en compte de la commande du Client par courriel. CROQUI se réserve le droit de réclamer des informations complémentaires au Client, et de suspendre une commande, en cas de commande d’un montant anormalement élevée ou de toute autre situation d’usage supposé abusif des services de CROQUI.

                    </p><p>CROQUI se réserve le droit de ne pas donner suite à une commande dans le cas notamment de la survenance de tout événement imprévisible. En pareille circonstance, aucun frais ne sera facturé au Client. Le cas échéant, CROQUI en informera le Client par tout moyen.

                    </p><p>Les registres informatisés de CROQUI seront considérés par CROQUI et le Client comme preuve des communications, des commandes, des paiements et des transactions intervenues entre les parties.</p>

                    <h5>Article 6 - ABSENCE DE DROIT DE RÉTRACTATION</h5>

                    <p>Conformément aux dispositions de l’article L121-20-2 3° du Code de la Consommation, le droit de rétractation applicable en matière de vente à distance ne peut être exercé dans le cas de la fourniture de biens qui, du fait de leur nature, sont susceptibles de se détériorer ou de se périmer rapidement. En application de ce texte, il est expressément indiqué que toute commande est ferme et définitive et que l’exercice du droit de rétractation est exclu. Les commandes qui ont donc été définitivement validées ne sont pas annulables. Le produit livré ne peut être ni repris, ni échangé, sauf erreur imputable à CROQUI dans le traitement de la commande.</p>

                    <h5>Article 7 – LIVRAISON</h5>

                    <p>Les livraisons ont lieu suivant les horaires définis sur le Site.

                    </p><p>Une fois la commande validée, la livraison intervient dans un délai maximal d’une heure à compter de la validation de la commande par CROQUI, ou, si le client a précisé le créneau horaire de livraison, CROQUI fera ses meilleurs efforts pour satisfaire cette demande. Les délais sont mentionnés à titre indicatif et ne sont pas contractuels. En effet, compte tenu des éventuelles difficultés liées à la circulation en région Parisienne, un dépassement du délai de livraison après le créneau de livraison prévu ne pourra être opposable à CROQUI et le Client ne pourra réclamer quelque que ce soit.

                    </p><p>En cas d’évènement de force majeure ou bien en cas d’imprévu échappant au contrôle de CROQUI, ou de son prestataire de livraison, le Client reconnait que ladite livraison peut être retardée ou annulée. CROQUI en informera le Client par tout moyen et le remboursera du montant de la commande, étant entendu que le Client ne sera pas en droit de réclamer aucune indemnisation.

                    </p><p>CROQUI ne pourra satisfaire les demandes de livraison en dehors de la zone de livraison (Paris).

                    </p><p>Les produits sont livrés à l'adresse de livraison que le Client a indiquée au cours du processus de commande. La livraison est effectuée par la remise directe des Plats au Client.

                    </p><p>Il appartient au Client de récupérer le produit commandé dans les meilleurs délais une fois alerté de la présence du prestataire de livraison devant l’adresse de livraison renseignée. En cas d’empêchement du Client, les parties pourront convenir d’un nouvel horaire de livraison, selon les disponibilités du prestataire de livraison au regard de sa tournée. Dans l’hypothèse où le prestataire de livraison ne parviendrait pas à entrer en contact avec le Client dans un délai d’une heure à compter de l’horaire convenue, la commande sera réputée résiliée de plein droit, le prix restant acquis à CROQUI.</p>

                    <h5>Article 8 – RESPECT DE LA CHAINE DU FROID</h5>

                    <p>Les livraisons des produits CROQUI sont réalisées par des livreurs prestataires de CROQUI, qui opèrent selon le cahier des charges de CROQUI.

                    </p><p>Le transport des produits est effectué dans des sacs et boîtes isothermes chargées de plaques eutectiques, dans le but de maintenir les produits à bonne température jusqu’à leur livraison au Client.

                    </p><p>Une fois la commande livrée au Client, il appartient à celui-ci de consommer les plats immédiatement ou de conserver ses plats entre 0° et 3° et de les consommer avant la DLC indiqué sur l’emballage du produit.</p>

                    <h5>Article 9 – GARANTIE - RESPONSABILITÉ</h5>

                    <p>Le Client bénéficie de la garantie légale de conformité et de la garantie légales contre les vices cachés sur les produits vendus, sous réserve d’une réclamation formulée conformément à l’article 10 ci-après.

                    </p><p>Toute garantie est cependant exclue en cas de négligence, défaut d’entretien de la part du Client (notamment au regard du respect de la chaîne du froid) ou en cas d’évènement de force majeure.

                    </p><p>La garantie de CROQUI est limitée au remplacement ou au remboursement des produits non conformes à la commande ou affectés d’un vice.

                    </p><p>Le Client demeure seul responsable du choix des produits et de leur conservation.

                    </p><p>En outre, CROQUI décline toute responsabilité en cas d’interruption du Site, ou en cas de bugs, provoqués en raison d’un accès frauduleux au Site, ou de l’impossibilité d’y accéder, en raison des risques inhérents aux réseaux de télécommunications.

                    </p><p>La responsabilité de CROQUI ne saurait être engagée si l’inexécution ou la mauvaise exécution d’une commande est imputable au Client, ou liée à des contraintes techniques indépendantes de la volonté de CROQUI.

                    <h5>Article 10 – RECLAMATION</h5>

                    <p>Toute question ou réclamation concernant les produits livrés devra être faite dans un délai maximum de vingt-quatre (24) heures après leur livraison par courriel, via le formulaire Contact présent sur le site. Passé ce délai, aucune question ni aucune réclamation ne pourra être prise en compte.

                    <h5>Article 11 – CONFIDENTIALITÉ ET COOKIES</h5>

                    <p>Conformément à la loi « Informatique et libertés » du 6 janvier 1978 modifiée en 2004, le Client bénéficie d’un droit d’accès et de rectification aux informations qui le concernent, qu’il peut exercer en s’adressant à CROQUI par courriel avec la photocopie d’une pièce d’identité.

                    </p><p>CROQUI s’engage à conserver de manière confidentielle les informations transmises par ses Clients.

                    </p><p>Le Client est informé qu'une partie des services du Site nécessite la mise en place de cookies.

                    </p><p>Les cookies sont de petits fichiers textes enregistrés pour une durée limitée dans le temps dans la mémoire vive d'un ordinateur (ce sont les cookies dits " de session "), ou bien dans le disque dur de l'ordinateur (ce sont les cookies dits " permanents ").

                    </p><p>La finalité principale des cookies consiste à mémoriser certaines informations, d'une part, grâce à la mise à disposition au Client d'une offre qui lui est spécifique.

                    </p><p>A ce titre, le procédé de géolocalisation entraine le dépôt d’un cookie afin de permettre à CROQUI de faire appel à cette information et ainsi présenter les options qui correspondent à la situation géographique du Client.

                    </p><p>La plupart des navigateurs Internet sont réglés de manière standard, c'est-à-dire de manière à ce qu'ils acceptent les cookies. Le Client a cependant le droit et la possibilité de paramétrer son logiciel de navigation de manière à refuser ces cookies ou bien à obtenir tout au moins que l'acceptation préalable du Client soit requise. Si le Client refuse l'enregistrement ou supprime les cookies, cela pourra cependant avoir pour conséquence que les offres proposées par CROQUI ne fonctionnent plus de manière optimum.

                    <h5>Article 12 – DONNEES PERSONNELLES</h5>

                    <p>Lors de vos visites sur le Site, nous pouvons être amenés à vous demander des informations personnelles.

                    </p><p>Les informations demandées sont obligatoires. Elles sont nécessaires à l’activation de votre compte et à la livraison de votre commande.

                    </p><p>Conformément à la Loi Informatique et Libertés du 06/01/1978, vous disposez d’un droit d’accès, de rectification et de suppression des données vous concernant.

                    <h5>Article 13 - PROPRIÉTÉ INTELLECTUELLE</h5>

                    <p>Tous les textes, commentaires, ouvrages, illustrations, signes distinctifs, bases de données et images reproduits sur le Site sont protégés par les dispositions du Code de la propriété intellectuelle. Toute utilisation ou reproduction, totale ou partielle, sur tout support et à toute fin, sans le consentement préalable et exprès de CROQUI, est interdite et pourra faire l'objet de poursuites en contrefaçon.

                    <h5>Article 14 - LOI APPLICABLE - RÈGLEMENT DES LITIGES</h5>

                    <p>Les présentes CGV sont régies par la loi française. En cas de litige, le Client s’adressera en priorité à CROQUI afin de trouver une solution amiable. A défaut, la compétence est attribuée aux tribunaux compétents de Paris.

                    <h5>Article 15 – NULLITE</h5>

                    <p>La nullité d’une clause contractuelle des présentes n’entraîne pas la nullité de la totalité des présentes, les clauses non annulées conservant leur plein effet. L’inapplication temporaire d’une ou plusieurs clauses des présentes par CROQUI ne saurait valoir renonciation de sa part à ces clauses.

                </div>
            </div>
        </div>
    </section>

{% endblock %}