{# src/Base/mentions.html.twig #}

{% set navnotabsolute = "true" %}

{% extends "base.html.twig" %}

{% block body %}

    <section class="height-60">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center">

                    <h1>Mentions légales</h1>

                </div>

            </div>

        </div>

    </section>



    <section>

        <div class="container">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">


                    <h5>La Société</h5>


                    <p>Société CROQUI<br/>

                        Siège social : 15 rue du Sausset, 93600 Aulnay-sous-Bois<br/>

                        SASU au capital de 1000 euros, immatriculée au RCS de Bobigny sous le numéro 832 427 413.</p>


                    <h5>Hébergement du site</h5>


                    <p>L'hébergement du site est réalisé par la société OVH.<br/>

                        SARL OVH<br/>

                        Adresse : 140, quai du Sartel - 59100 ROUBAIX| FRANCE<br/>

                        Tel : 0 899 701 761 - Fax : 03 20 20 09 58<br/>

                        Mail : support@ovh.com<br/>

                        Site : www.ovh.com</p>


                    <h5>Propriété intellectuelle</h5>


                    <p>Les droits de propriété intellectuelle afférents au site https://www.croqui.fr appartiennent à
                        l'éditeur du site. Toute utilisation, reproduction, diffusion, commercialisation, modification
                        de toute ou partie du site, sans l’autorisation de webportage est prohibée et pourra entraîner
                        des actions et poursuites judiciaires telles que notamment prévues par le code de la propriété
                        intellectuelle et/ou le code civil. La reproduction des documents du site autorisée est celle
                        effectuée exclusivement à usage personnel. Toute reproduction ou toute utilisation de copies
                        réalisées à d’autres fins est expressément interdite.</p>


                    <h5>Accès au site Internet</h5>


                    <p>L'accès au site https://www.croqui.fr et tous ses sous-domaines est possible 24 heures sur 24, 7
                        jours sur 7, sauf en cas de force majeure et sous réserve des éventuelles pannes et
                        interventions de maintenance nécessaires au bon fonctionnement du site.</p>


                    <h5>Récolte et traitement de données personnelles</h5>


                    <p>Les données sont récoltées aux fins de mettre en œuvre les documents, conventions et contrats
                        nécessaires à l’exercice de l’activité du site.</p>

                    <p>Les destinataires de ces données sont exclusivement le personnel de la société qui effectue le
                        traitement des commandes passées sur le site. A tout moment, les utilisateurs peuvent demander
                        la communication des informations nominatives les concernant, les faire rectifier le cas
                        échéant, conformément à la loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux
                        fichiers et aux libertés.</p>


                    <h5>Crédits</h5>

                    <p>Photo : L’ensemble de ce site relève de la législation française et internationale sur le droit
                        d’auteur et la propriété intellectuelle.</p>

                    <p>Tous les droits de reproduction sont réservés, y compris à l’égard des documents téléchargeables
                        et des représentations iconographiques et photographiques.</p>


                </div>

            </div>

        </div>

    </section>

{% endblock %}